body {
    background-color: #68d5c5;

    text-align: center;
    padding-top: 70px;
    position: relative;
    font-family: cursive;


}

.n {

    position: absolute;
    top: 25px;
    right: 250px;

}

.row {
    top: 50px;
    border: radius 30px;

}

.l {
    position: absolute;
    bottom: 990px;
    left: 200px;

}

.nids {}

.c {
    margin: 100px;
    border-style: dotted none none none;
    border-width: 5px;
    color: grey;

}

.a {
    font-size: 25px;
    line-height: 1;


}

h1 {
    color: #ff0000;
    font-weight: normal;
}

h2 {
    color: #000000;
    font-weight: normal;
}

h3 {
    color: #ff00d4;
    font-weight: normal;
}

p {


    color: rgb(0, 8, 255);

    text-align: center;
    line-height: 2;

    margin-right: 300px;
    margin-left: 300px;



}